*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 399px;
  grid-template-rows: auto auto;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  align-items: start;
}

.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  aspect-ratio: 16 / 9;
  background-color: #000;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-container {
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
  max-height: 500px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: flex;
  gap: 15px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 150px;
  height: 90px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
}

.search-form {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  margin-top: 10px;
}

.search-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  background: transparent;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 0;
  appearance: none;
  width: 100%;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  padding: 10px 30px;
}

.more-button {
  width: 100%;
  padding: 10px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}